.git
.github
.env
.env.local
.env.testing
.idea
.vscode
node_modules
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
*.md
!README.md
!docs/**/*.md
docker-compose*.yml
